/* Set all margins, paddings and borders to zero and none */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Set standard values */

a {
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #4501ff;
}

p {
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #2e3234;
}

h2 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    font-weight: 800;
    color: #2e3234;
}

/* Navigation CSS beginning */

/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    width: 100%;
    overflow: visible;
    position: fixed;
}

/* Float "Dandelion 101 - All the weed you can eat" to the left */
.logo {
    float: left;
    pointer-events: none;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 4px;
}

/* Add an active class to highlight the current page */
.active {
    background-color: rgba(255, 205, 25, 1);
    color: white;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: right;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 17px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    border-radius: 4px;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a yellow background and black font color on topnav links and the dropdown button on hover */
.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: rgba(255, 205, 25, 1);
    color: black;
}

/* Add a yellow background and black font color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgba(255, 205, 25, 1);
    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {

    #myTopnav .topnav .dropdown .dropbtn {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}

/* Navigation end */

/* Header beginning */

#header-img {
    background-image: url('../images/header.jpg');
}

.header-quote {
    height: 90vh;
    background: center 25% / cover no-repeat;
    padding: 6%;
}

#quote {
    text-align: left;
    font-size: 24px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: black;
}

/* Header end */

/* page content beginning */

/* Page quote */

.quote {
    text-align: center;
    padding: 50px;
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

/* Page quote end */

/* Flexbox beginning */

.container-index {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: justify;
    gap: 5%;
    width: 80%;
    margin: auto;
}

/* index.html */

.why {
    order: 1;
    width: 45%;

}

.where {
    order: 2;
    width: 45%;
}

.what {
    order: 3;
    width: 45%;

}

.medical {
    order: 4;
    width: 45%;

}

/* recepies.html */

.container-recepies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: justify;
    gap: 3.75%;
    width: 90%;
    margin: auto;
}

.coffee {
    order: 1;
    width: 25%;

}

.capers {
    order: 2;
    width: 25%;
}

.tincture {
    order: 3;
    width: 25%;

}

/* Flexbox end */

/* page content end */

/* Footer beginning */

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
}

#footer-p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 150%;
    color: white;
    text-align: center;
}

.footer li {
    display: inline;
}

.footer i {
    font-size: 250%;
    margin: 1%;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.footer i:hover {
    background-color: rgba(255, 205, 25, 1);
    color: black;
}

/* Footer end */